<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
</head>
<style>
     h1 {
            font-size: 100px
        }
        h1::first-letter {
          font-size: 175%;
          font-weight: bold;
</style>
<body>

    <div>
        {% for page in pages %}
            <a href="{{ page }}"> "{{ page }}" </a>
        {% endfor %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
         Copyright 2026 by <a href="http://domain.invalid/">you</a>.
    </div>
</body>
</html>