{% extends "base.form.html" %}
{% block title %}register{% endblock %}
{% block content %}
    <h1>Register</h1>
    <form method="POST" actions="/register">

        <div>
            <label for="name">Name</label><br>
            <input type="text" id="name" name="username">
        </div>

        <div>
            <label for="password"> Password</label><br>
            <input type="password" id="password" name="password">
        </div>

        <input type="submit" value="send">
    </form>

    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}

{% endblock %}